trigger:
  branches:
     include:
         - hotfix/*
         - release/*
     exclude:
         - BLAZ*
         - EJ2*
         - blaz*
         - ej2*
         
variables:
- group: Build-Variables

stages:
- stage: BuildAndroid

  jobs:
  - job: Blazor_MAUI_SB 
    displayName: Blazor MAUI APK Generation
    pool:
      vmImage: 'windows-latest'
    condition: eq(variables['Build.SourceBranchName'], variables['MauiBranch'])
    timeoutInMinutes: 300
    steps:
      - task: NodeTool@0
        displayName: Node Installation
        inputs:
          versionSource: 'spec'
          versionSpec: '16.x'

      - task: UseDotNet@2
        displayName: SDK Installation
        inputs:
          packageType: 'sdk'
          version: '9.0.x'
      
      - task: Npm@1
        displayName: NPM Installation
        inputs:
          command: 'install'

      - task: CmdLine@2
        displayName: MAUI Installation
        inputs:
          script: 'dotnet workload install maui'

      - task: DotNetCoreCLI@2
        displayName: MAUI Build/Publish
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: 'Blazor-MAUI-Demos/Blazor_MAUI_Demos_NET9.csproj'
          arguments: '-c Release -f net9.0-android -p:AndroidKeyStore=true -p:AndroidSigningKeyStore=blazordemos.keystore -p:AndroidSigningKeyAlias=blazordemos -p:AndroidSigningKeyPass=Sync@123 -p:AndroidSigningStorePass=Sync@123'
          zipAfterPublish: false
          modifyOutputPath: false
      
      - task: CopyFiles@2
        displayName: Copying the Files
        inputs:
          SourceFolder: '$(agent.builddirectory)'
          Contents: |
            **/publish/*maui_demos-Signed.apk
            **/*.aab
          TargetFolder: '$(build.artifactstagingdirectory)'
      
      - task: PublishBuildArtifacts@1
        displayName: Copying the Files
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'APK'
          publishLocation: 'Container'
    
      - task: AppCenterDistribute@3
        displayName: Distribute APK via AppCenter
        inputs:
          serverEndpoint: 'AppcenterDistribute'
          appSlug: 'Blazor-Core/Blazor-MAUI-Demos'
          appFile: '$(Build.ArtifactStagingDirectory)/s/Blazor-MAUI-Demos/bin/Release/net9.0-android/publish/com.syncfusion.blazor_maui_demos-Signed.apk'
          buildVersion: '1.0'
          releaseNotesOption: 'input'
          releaseNotesInput: |
            Version: 1.0
            Download Link - https://install.appcenter.ms/users/Blazor-Core/apps/Blazor-MAUI-Demos
          destinationType: 'groups'

      # - task: Npm@1
      #   displayName: Send Report
      #   inputs:
      #     command: 'custom'
      #     customCommand: 'run maui -- $(Agent.JobStatus);$(Build.Repository.Name);$(Build.SourceBranchName);$(Build.ContainerId)'

- stage: BuildIos
  jobs:
    - job: Blazor_MAUI_SB 
      displayName: Blazor MAUI IPA Generation
      pool:
        vmImage: 'macOS-15'
      condition: eq(variables['Build.SourceBranchName'], variables['MauiBranch'])
      timeoutInMinutes: 300
      steps:
        - task: CmdLine@2
          displayName: Selects a specific version of Xcode
          inputs:
            script: '/bin/bash -c "sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer"'
        - task: InstallAppleCertificate@2
          inputs:
            certSecureFile: 'DistributionCertBlazorMauiIos.p12'
            certPwd: '$(p12_password)'

        - task: InstallAppleProvisioningProfile@1
          inputs:
            provProfileSecureFile: 'BlazorMAUISBDemos.mobileprovision'

        - task: UseDotNet@2
          displayName: SDK Installation
          inputs:
            packageType: 'sdk'
            version: '9.0.x'

        - task: CmdLine@2
          displayName: MAUI Installation
          inputs:
            script: 'dotnet workload install maui'

        - script: |
            PLIST_PATH="$(Build.SourcesDirectory)/Blazor-MAUI-Demos/Platforms/iOS/Info.plist"
            BUILD_NUMBER=$(($BUILD_BUILDID))  # Use Azure DevOps build ID as the unique build number
            /usr/libexec/PlistBuddy -c "Set :CFBundleVersion $BUILD_NUMBER" "$PLIST_PATH"
          displayName: 'Auto-increment Build Number'
          
        - task: DotNetCoreCLI@2
          displayName: MAUI Build/Publish
          inputs:
            command: 'publish'
            publishWebProjects: false
            projects: 'Blazor-MAUI-Demos/Blazor_MAUI_Demos_NET9.csproj'
            arguments: '-f net9.0-ios -c Release -p:ArchiveOnBuild=true -p:CodesignKey="$(codesign_key)" -p:CodesignProvision="$(codesign_provision)" -p:ApplicationId="$(application_id)" -p:PublishTrimmed=true'
            zipAfterPublish: false
            modifyOutputPath: false
          
        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(agent.builddirectory)'
            Contents: '**/publish/*.ipa'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'
        
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'IPA'
            publishLocation: 'Container'
            
        - task: AppStoreRelease@1
          displayName: 'Publish to the App Store TestFlight track'
          inputs:
            serviceEndpoint: 'The Apple App Store service connection'
            appSpecificId: $(app_specific_id)
            appIdentifier: $(application_id)
            ipaPath: '$(Build.ArtifactStagingDirectory)/s/Blazor-MAUI-Demos/bin/Release/net9.0-ios/ios-arm64/publish/Blazor_MAUI_Demos_NET9.ipa'
            shouldSkipWaitingForProcessing: true
            shouldSkipSubmission: true
